<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	<title>人事管理系统——添加员工</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />    
	<meta http-equiv="keywords" content="keyword1,keyword2,keyword3" />
	<meta http-equiv="description" content="This is my page" />
	<link href="/css/css.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/js/ligerUI/skins/Aqua/css/ligerui-dialog.css"/>
	<link href="/js/ligerUI/skins/ligerui-icons.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="/js/jquery-migrate-1.2.1.js"></script>
	<script src="/js/ligerUI/js/core/base.js" type="text/javascript"></script>
	<script src="/js/ligerUI/js/plugins/ligerDrag.js" type="text/javascript"></script> 
	<script src="/js/ligerUI/js/plugins/ligerDialog.js" type="text/javascript"></script>
	<script src="/js/ligerUI/js/plugins/ligerResizable.jss" type="text/javascript"></script>
	<link href="/css/pager.css" type="text/css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="/js/My97DatePicker/WdatePicker.js"></script>
	<script type="text/javascript">
        function sub() {
            var employeeName = $("#employeeName");
            var cardId = $("#cardId");
            var positionId = $("#positionId");
            var record = $("#record");
            var email = $("#email");
            var phone = $("#phone");
            var deptId = $("#deptId");
            var address = $("#address");
            var msg = "";

            if ($.trim(employeeName.val()) == ""){
                msg = "姓名不能为空！";
                employeeName.focus();
            } else if ($.trim(address.val()) == "") {
                msg = "地址不能为空！";
                address.focus();
            } else if ($.trim(cardId.val()) == "") {
                msg = "身份证号不能为空！";
                cardId.focus();
            } else if ($.trim(positionId.val()) == "") {
                msg = "职位不能为空！";
                positionId.focus();
            } else if ($.trim(record.val()) == "") {
                msg = "学历不能为空！";
                record.focus();
            } else if ($.trim(email.val()) == "") {
                msg = "邮箱不能为空！";
                email.focus();
            } else if ($.trim(phone.val()) == "") {
                msg = "手机号不能为空！";
                phone.focus();
            } else if ($.trim(deptId.val()) == "") {
                msg = "部门不能为空！";
                deptId.focus();
            }

            if (msg != ""){
                $.ligerDialog.error(msg);
                return false;
            } else {
                $.ajax({
					url:"/hrm/jqGrid/employee/addEmployeeInfo",
					type:"post",
					async:false,
					data:$("#employeeForm").serialize(),
					success:function(result) {
						if (result.flag){
						    alert("添加成功!");
						    window.location.href = "/page/employee/employee";
						} else {
						    alert(result.errorMsg);
						    window.location.reload();
						}
                    }
				});
            }
        }

	</script>
</head>
<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr><td height="10"></td></tr>
  <tr>
    <td width="15" height="32"><img src="/images/main_locleft.gif" width="15" height="32"></td>
	<td class="main_locbg font2"><img src="/images/pointer.gif">&nbsp;&nbsp;&nbsp;当前位置：员工管理  &gt; 添加员工</td>
	<td width="15" height="32"><img src="/images/main_locright.gif" width="15" height="32"></td>
  </tr>
</table>
<table width="100%" height="90%" border="0" cellpadding="5" cellspacing="0" class="main_tabbor">
  <tr valign="top">
    <td>
    	 <form id="employeeForm" method="post">
		  <table width="100%" border="0" cellpadding="0" cellspacing="10" class="main_tab">
		    <tr><td class="font3 fftd">
				<table>
					<tr>
						<td class="font3 fftd">姓&nbsp;名：<input type="text" name="employeeName" id="employeeName" size="20" value=""/></td>
						<td class="font3 fftd">住&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：<input type="text" name="address" id="address" size="20" value=""/></td>
					</tr>
					<tr>
						<td class="font3 fftd">身份证：
							<input type="text" name="cardId" id="cardId" value=""/>
						</td>
						<td class="font3 fftd" id="positionOp">
							<script type="text/javascript">
                                $(function() {
                                    $.ajax({
                                        url:"/hrm/jqGrid/position/getAllPosition",
                                        type:"post",
                                        async:false,
                                        success:function(result) {
                                            var html = "职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;位：<select id='positionId' name='positionId' style='width:143px;'>"+
                                                "<option value=''>--请选择--</option>";
                                            for (var i = 0;i < result.data.length;i++){
                                                html += "<option value='"+ result.data[i].id +"'>"+ result.data[i].positionName +"</option>";
                                            }
                                            html += "</select>&nbsp;";
                                            $("#positionOp").html(html);
                                        }
                                    });
                                });
							</script>
						</td>
					</tr>
					<tr>
						<td class="font3 fftd">学&nbsp;历：<input name="record" id="record" size="20" value=""/></td>
						<td class="font3 fftd">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：<input name="email" id="email" size="20" value=""/></td>
					</tr>
					<tr>
						<td class="font3 fftd">手&nbsp;机：<input name="phone" id="phone" size="20" value=""/></td>
						<td class="font3 fftd" id="deptSpan">
							<script type="text/javascript">
                                $(function() {
                                    $.ajax({
                                        url:"/hrm/jqGrid/dept/getAllDept",
                                        type:"get",
                                        async:false,
                                        success:function(result) {
                                            var html = "部&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;门：<select id='deptId' name='deptId' style='width:143px;'>" +
                                                "<option value=''>--请选择--</option>";
                                            for (var i = 0;i < result.data.length;i++){
                                                html += "<option value='"+ result.data[i].id +"'>"+ result.data[i].deptName +"</option>";
                                            }
                                            html += "</select>&nbsp;";
                                            $("#deptSpan").html(html);
                                        }
                                    });
                                });
							</script>
						</td>
					</tr>

				</table>
		    </td></tr>
			<tr><td align="left" class="fftd">
			<input type="button" value="添加" onclick="sub()">&nbsp;&nbsp;<input type="reset" value="取消 " onclick="javascript:history.go(-1);"></td></tr>
		  </table>
		 </form>
	</td>
  </tr>
</table>
<div style="height:10px;"></div>
</body>
</html>