<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script type="text/javascript" src="/js/jquery-1.11.0.js"></script>
    <link href="/css/page.css" type="text/css" rel="stylesheet"/>
    <!--<script type="text/javascript">-->
        <!--var resultInfo;-->
        <!--function getInfo(){-->
            <!--$.ajax({-->
                <!--url:"/hrm/jqGrid/user/getUserInfo",-->
                <!--type:"post",-->
                <!--async:false,-->
                <!--success:function(result) {-->
                    <!--resultInfo = result.data;-->
                    <!--alert(resultInfo);-->
                <!--}-->
            <!--})-->
            <!--return resultInfo;-->
        <!--}-->
        <!--var re = getInfo();-->
        <!--alert(re);-->
    <!--</script>-->
</head>
<body>
<div class="page-icon">
    <span class="page-disabled"><i></i>上一页</span>
    <span class="page-current">1</span>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">7</a>
    <a href="#">199</a>
    <a href="#">200</a>
    <a class="page-next" href="#">下一页<i></i></a>
</div>
</body>
</html>